.contentContainer {
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

  img {
    width: 15rem;
    height: 1.6rem;
    margin-top: 5rem;
  }

  section {
    margin-top: 4rem;

    > div + div {
      margin-top: 3rem;
    }
  }
}

.post {
  cursor: pointer;
  transition: filter 0.2s;

  h1 {
    color: var(--Heading);
    font-size: 1.75rem;
    margin-bottom: 9px;
  }

  p {
    color: var(--Body);
  }

  div {
    margin-top: 10px;
    display: flex;
    align-items: center;

    span {
      color: var(--Info);
    }

    div + div {
      margin-left: 24px;
    }
  }

  &:hover {
    filter: brightness(0.8);
  }
}

.pagination {
  color: var(--Highlight);
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}
